networkx
importlib-metadata
ipython
ipython-genutils
ipywidgets
jax
jaxlib
keras==2.11.0
matplotlib
matplotlib-inline
notebook_shim==0.2.2
numpy
pandas
Pillow==9.3.0
playsound==1.3.0
plotly
psutil
pydub
requests
serial
sounddevice
audiomentations
cmsisdsp
ipython
ipython-genutils
ipywidgets
isoduration
matplotlib
matplotlib-inline
opencv-python==4.7.0.68
plotly
psutil
scikit-learn
scipy
tqdm==4.64.1
wandb==0.13.9